

body{
background: black
url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EGdCaR-Le/dust-particles-on-black-background-slowly-fly_spt0o29ze_thumbnail-full01.png)
no-repeat ;
background-attachment: local;
background-size: auto;
font-family: "Times New Roman", "Apple LiSung Light";
color: white;
font-weight: 100;
font-size: 18px;
}


a:link{
  color:white
}
a:visited{
 color: #404040;
}
a:hover{
  color:silver;
}
a:active{
  color: gold;
}
a{
   font-size: 50px;
   text-decoration: none;
}
